<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Chat</h1>
            <h2>Mensajes</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="chatForm">
                    <input type="text" id="chatBox" class="form-control"></input>
                </form>
            </div>
            <div class="col-12 mt-4">
                <p id="messagesLogs"></p>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="./js/chat.js"></script>
