<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Desafío 5</h1>
            <h2>Comisión 53105</h2>
            <h3>Index</h3>
            <a href="/home" class="btn btn-sm btn-primary">Home</a>
            <a href="/realtimeproducts" class="btn btn-sm btn-primary">Real Time Products</a>
            <a href="/chat" class="btn btn-sm btn-primary">Chat</a>
        </div>
    </div>
</div>


<script src="js/main.js"></script>